*{
  margin: 0;
}

.nav{
  text-align: center;
  padding: 0px;
  margin-top:1%;
}

.nav > li{
  display: inline;
  margin-top: -3px;
  padding-left: 2%;
  padding-right: 2%;
}

.card{
	position:relative;
	background-color: rgba(129, 190, 247, 0.75);
	width: 42.5%;
	min-height: 200px;
	margin-left: 5%;
	margin-top: 4%;
	float: left;
}

.filter{
	position:fixed;
	left: 5%;
	margin-top: 2%;
	margin-bottom: 4px;
	width: 15%;
	background-color: rgba(129, 190, 247, 0.75);
	height: 170px;
}

.ball{
	font-family: 'Mukta', sans-serif;
	margin-left: 5%;
	margin-bottom: 2%
}

.projectcard{
	margin-left: 30%;
	position: relative;
	right: 5%;
	background-color: rgba(129, 190, 247, 0.75);
	width: 70%;
	min-height: 130px;
	margin-top: 2%;
	float: left;
	display: none;
}

.show {
  display: block;
}

.BigCard{
	position:relative;
	background-color: rgba(129, 190, 247, 0.75);
	width: 90%;
	min-height: 400px;
	margin-left: 5%;
	margin-top: 4%;
	float: left;
}

.CardImage{
	float:right;
	margin-right: 10px;
}

.title{
	max-width:70%;
	font-family: 'Mukta', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    margin-top: 5px;
    margin-left: 2.5%;
	display: block;
}

.sort{
	margin-top: 2px;
	margin-left: 2.5%;
	width: 95%;
	border-bottom: 1px solid white;
	font-size: small;
	font-family: 'Mukta', sans-serif;
}


.use{
	position: absolute;
	bottom: 5px;
	margin-left: 2.5%;
}

.intro{
	margin-top:10%;
	text-align: left;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.SortImage{
	float:left;
	margin-top: 6px;
	margin-left: 16px;
	margin-right: 10px;
}

.contact{
	margin-top: 50px;
	text-align: center;
	background-color: rgba(129, 190, 247, 0.75);
	width: 40%;
	margin-left:auto;
	margin-right:auto;
}

.contact2{
	width:35%;
	background-color: rgba(129, 190, 247, 0.75);
	min-height: 200px;
	display: inline-block;
	
}

.bigcardinfo{
	width: 45%;
	margin-left: 2.5%; 
	height: 40px;
}

.info{ 
	margin-left: 2.5%; 
	height: 40px;
}

.but{
	position:absolute;
	right: 5%;
	margin-top: 10px;
	background-color: #D3D3D3;
	border: 1px solid white;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.when{
	margin-left: 2.5%;
	margin-bottom: 5px;
}

.contacttitles{
	margin-top:10px;
}



#reas{
	position:absolute;
	left: 30px;
}

#HomeInt{
	margin-left:auto;
	margin-right:auto;
}

#header{
  background-color: white; /*#ADD8E6*/
  height: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #01A9DB;
}

#titletext{
  margin-top: 2%;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

#selected{
  text-decoration: underline;
}

#searchbar{
	margin-left:70%;
	width: 25%;
}

#content{
	min-width:200px;
	max-width: 70%;
	max-height: 400px;
	height: 200px;
	width: 999px;
}

#contact-submit{
	margin-top:15px;
	margin-bottom:10px;
	cursor:pointer;
	width:40%;
	border:none;
	background:gray;
	color:#FFF;
	padding:10px;
	font-size:15px;
}

#HomeImage{
	float: left;
	margin-left:10%;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a:hover{
  text-decoration: underline;
  color: black;
}